.ProductDetail-container {
    width: 1320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 15px;
}

.ProductDetail-h1 {
    grid-column: 1/3;
}

.ProductDetail-info_wrapper {
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ProductDetail-wrapper_img {
    width: 300px;
}

.ProductDetail-info h3 span {
    color: #016DD9;
}

.ProductDetail-price_wrapper {

    grid-row: 2/4;
    grid-column: 2;

    padding: 15px;

    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: white;
}

.ProductDetail-price_title {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center
}

.ProductDetail-price_wrapper ul{
    list-style-type: none;
    padding: 0;
}

.ProductDetail-store_wrap {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 15px;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    flex-wrap: wrap;
    align-content: center;
}

.ProductDetail-store_name {
    width: 25%;
    text-align: center;
}

.ProductDetail-store_price {
    width: 25%;
    text-align: center;
}

.ProductDetail-store_link {
    width: 25%;
    text-align: center;
}

.Cart-wrapper {
    width: 25%;
    text-align: center;
}

.Cart-wrapper button {
    background-color: #016DD9;
    color: white;
    padding: 8px 10px;
    font-size: 14px;
    text-decoration: none;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}

.ProductDetail-store_button {
    background-color: #016DD9;
    color: white;
    padding: 8px 10px;
    font-size: 14px;
    text-decoration: none;
    border: 0;
    border-radius: 2px;
}

.history-graph_wrapper {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
}

