/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    background: #F2F2F2;
    font-family: "Chocolate Classical Sans", sans-serif;
    color: #222;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}





.cart-container {
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px;
}

.cart-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.cart-icon img {
    width: 100%;
    height: 100%;
}

.cart {
    position: absolute;
    top: 80px;
    min-height: 80px;
    right: 0;
    width: 245px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}

.cart ul, li {
    list-style: none;
    padding: 0;
}

.cart li {
    margin-left: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.cart li button{
    background-color: white;
    border: none;
    cursor: pointer;
}

.Cart-download {
    width: 100%;
    background-color: #016DD9;
    color: white;
    padding: 8px 10px;
    font-size: 14px;
    text-decoration: none;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}